@import "../../styles/variables";
@import "../../styles/animations";

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background: $main-bg-color;
}

.user-data {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #fff;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.username {
  font-size: 20px;
}

.id {
  font-size: 14px;
}

.balance,
.amount {
  display: flex;
  align-items: center;
}

.balance {
  gap: 8px;
}

.amount {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  gap: 6px;
}

.topup {
  font-size: 16px;
  color: #fff;
}

.connect-btn {
  margin-top: 24px;
  width: 100%;
}
