@import "../../../styles/variables";
@import "../../../styles/mixins";

.connect-btn {
  padding: 8px;
  color: #fff;
  font-size: 18px;
  background: $primary-ui-color;
  border-radius: 8px !important;

  @include button3d;
}
