@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  background: $main-bg-color;
  padding: 16px;
  font-size: 20px;
  color: #fff;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
}

.balance {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16;
  font-weight: 700;
}
